<div *ngIf="estoria">
    <div>
        <h4 class="header center orange-text">Estória: {{estoria.nome}}</h4>
        <div><label>id: </label>{{estoria.id}}</div>
        <label>Nome: </label>
        <input [(ngModel)]="estoria.nome" placeholder="nome" />
        <label>Descrição: </label>
        <input [(ngModel)]="estoria.descricao" placeholder="descrição" />
        <label>Pontos: </label>
        <input [(ngModel)]="estoria.pontos" placeholder="pontos" />
    </div>
    <div>
        <label>Tarefas: </label>
        <tarefa *ngFor="let tarefa of estoria.tarefas" [tarefa]="tarefa" [estoria]="estoria"></tarefa>
        <br />
        <div>
            <input [(ngModel)]="tarefa.descricao" (ngModelChange)="checkEmptyTask()" placeholder="tarefa" />
            <button (click)="addTask()" [disabled]="isEmptyTask">Adicionar Tarefa</button>
        </div>
    </div>
    <br />
    <button (click)="goBack()">Voltar</button>
    <button (click)="save()">Salvar</button>
</div>