<div className="section no-pad-bot" id="index-banner">
    <div className="container">
        <h1 className="header center orange-text">Estórias</h1>
        <h3>1 Estória</h3>
        <div className="row">
            <div className="col s12 m12">
                <div className="card indigo darken-3">
                    <div className="card-content white-text"> 
                        <span className="card-title">Cadastrar Usuário</span>
                        <p>Descreve como cadastrar usuário<span className="badge white">10 pontos</span></p>
                    </div>
                    <div className="card-action">
                        <a className="right" href="#">Exibir Estória</a>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
